.main-tools {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main-tools-title {
  color: #28f758;
}

.main-tools-content {
  color: white;
}

.main-tools-list {
  list-style: none;
  padding-left: 0;
}

.main-tools-listitem a {
  color: white;
}
